:root {
  --simblue: #2c2d5b;
  --simorange: #f67366;
}

body {
  height: 100svh;
  width: 100%;
  font-family: "Lato";
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem 0.4rem 10rem;
  width: 100%;
  background-color: white;
}

a {
  color: black;
}

.ship-text {
  color: var(--simblue);
  font-size: 24px;
}

.up-text {
  color: var(--simorange);
  font-weight: 900;
}

.px-10 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link:hover {
  color: var(--simorange);
}

ul {
  font-size: 14px;
  display: flex;
}

.buttons {
  font-size: 14px;
  display: flex;
  width: 22%;
  justify-content: space-between;
}

.join {
  background-color: var(--simblue);
  color: white;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  text-transform: capitalize;
}

.request {
  color: var(--simblue);
  border-radius: 12px;
  font-weight: 700;
  border: 1px solid var(--simblue);
  text-transform: capitalize;
}

.menu {
  width: 70svh;
  padding: 0.5rem 0;
}

.dropdown-menu2 {
  display: none;
  position: absolute;
  list-style-type: none;
}

.company:hover .dropdown-menu2 {
  display: block;
}

section {
  position: relative;
}

.content {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.circle {
  width: 896px;
  height: 896px;
  border: 1px solid #bcbded;
  border-radius: 9999px;
  position: absolute;
  transform: translateX(-20%) translateY(-20%);
  z-index: -1;
}

.girl-image {
  height: 594px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
}

.heading > span {
  color: var(--simorange);
  font-weight: 700;
  font-size: 48px;
}

.text-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.text-buttons {
  padding-top: 50px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  border: none;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(151, 151, 151, 0.25);
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.play-demo {
  font-size: 14px;
  color: var(--simblue);
  font-weight: 800;
}

.truck,
.plane {
  z-index: 10;
  height: 60px;
  width: 60px;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(151, 151, 151, 0.25);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.truck {
  top: 15rem;
  right: 0;
}

.plane {
  bottom: 0;
  left: 15rem;
}

@media (max-width: 575.98px) {
  header {
    padding-left: 0rem;
  }
  .menu {
    display: none;
  }
  .join {
    background-color: var(--simblue);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .request {
    color: var(--simblue);
    border-radius: 12px;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid var(--simblue);
    text-transform: capitalize;
  }
  .buttons {
    font-size: 12px;
    display: flex;
    width: 10%;
    justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  header {
    padding: 0rem 1rem;
  }
  .join {
    background-color: var(--simblue);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .request {
    color: var(--simblue);
    border-radius: 12px;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid var(--simblue);
    text-transform: capitalize;
  }
  .buttons {
    font-size: 12px;
    display: flex;
    width: 10%;
    justify-content: space-between;
  }
}

@media (max-width: 1399.98px) {
  header {
    padding: 0rem 1rem;
  }
  .join {
    background-color: var(--simblue);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .request {
    color: var(--simblue);
    border-radius: 12px;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid var(--simblue);
    text-transform: capitalize;
  }
  .buttons {
    font-size: 12px;
    display: flex;
    width: 10%;
    justify-content: space-between;
  }
}
