:root {
  --simblue: #2c2d5b;
  --simorange: #f67366;
  --gray: #979797;
}

body {
  height: 100svh;
  width: 100%;
  font-family: "Lato";
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem 0.4rem 10rem;
  width: 100%;
  background-color: white;
}

a {
  color: black;
}

.ship-text {
  color: var(--simblue);
  font-size: 24px;
}

.up-text {
  color: var(--simorange);
  font-weight: 900;
}

.px-10 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link:hover {
  color: var(--simorange);
}

ul {
  font-size: 14px;
  display: flex;
}

.buttons {
  font-size: 14px;
  display: flex;
  width: 30%;
  justify-content: space-between;
  flex-shrink: 0;
}

.join {
  background-color: var(--simblue);
  color: white;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  text-transform: capitalize;
}

.check-price-btn {
  background-color: var(--simblue);
  color: white;
  padding: 0 88px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  text-transform: capitalize;
}

.request {
  color: var(--simblue);
  border-radius: 12px;
  font-weight: 700;
  border: 1px solid var(--simblue);
  text-transform: capitalize;
}

.menu {
  width: 70svh;
  padding: 0.5rem 0;
}

.dropdown-menu2 {
  display: none;
  position: absolute;
  list-style-type: none;
}

.company:hover .dropdown-menu2 {
  display: block;
}

section {
  position: relative;
}

.content {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.circle {
  width: 896px;
  height: 896px;
  border: 1px solid #bcbded;
  border-radius: 9999px;
  position: absolute;
  transform: translateX(-32%) translateY(-25%);
  z-index: -1;
}

.girl-image {
  height: 594px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
}

.heading > span {
  color: var(--simorange);
  font-weight: 700;
  font-size: 48px;
}

.text-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.text-buttons {
  padding-top: 50px;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  border: none;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(151, 151, 151, 0.25);
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.play-demo {
  font-size: 14px;
  color: var(--simblue);
  font-weight: 800;
  text-transform: capitalize;
}

.truck,
.plane {
  z-index: 10;
  height: 60px;
  width: 60px;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(151, 151, 151, 0.25);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.truck {
  top: 15rem;
  right: 0;
}

.plane {
  bottom: -1rem;
  left: 20rem;
}

.check-price {
  padding: 100px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-content > div {
  position: relative;
}
.input-content {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 36px;
  box-shadow: 0 0 25px 0 rgba(151, 151, 151, 0.25);
  border-radius: 12px;
  width: 80%;
}
.field-label {
  z-index: 1;
  position: absolute;
  left: 12px;
  font-size: 14px;
  transform: translateY(-12px);
  background-color: white;
  padding: 8px;
  top: -8px;
  color: var(--gray);
  height: fit-content;
  text-transform: capitalize;
}

.field-input {
  border-radius: 12px;
  height: 64px;
  border: 1px solid var(--gray);
  width: 250px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  background-color: var(--simblue);
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.footer > .container-footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  flex-wrap: wrap;
}

.footer .ship-text-footer {
  color: var(--simorange);
  font-size: 24px;
}

.footer .up-text-footer {
  color: white;
  font-weight: 900;
}

.footer .intro-text {
  padding-top: 20px;
}
.footer .explore,
.footer .legal,
.footer .social-media {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer .ship-text-heading {
  width: 20%;
}
.footer .icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .icons .icon {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  header {
    margin: 0rem 1rem;
    padding: 0px;
    width: fit-content;
  }
  .buttons {
    padding-top: 0.25rem;
  }
  .join {
    background-color: var(--simblue);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .request {
    color: var(--simblue);
    border-radius: 12px;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border: 1px solid var(--simblue);
    text-transform: capitalize;
  }
  .menu {
    display: none;
  }
  .buttons {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  .girl-image {
    height: 200px;
  }
  .content {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
  .circle {
    width: 300px;
    height: 300px;
  }
  .heading {
    font-size: 30px;
    font-weight: 600;
  }
  .text-content {
    padding-top: 1rem;
    text-align: center;
  }
  .heading > span {
    color: var(--simorange);
    font-weight: 700;
    font-size: 34px;
  }
  .text-buttons {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .check-price-btn {
    padding: 20px 88px;
  }
  .check-price {
    padding: 50px 0px;
  }
  .footer .ship-text-heading {
    width: 50%;
  }
}

@media (min-width: 567px) and (max-width: 50em) {
  header {
    padding: 0rem 1rem;
  }
  .menu {
    display: none;
  }
  .join {
    background-color: var(--simblue);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .request {
    color: var(--simblue);
    border-radius: 12px;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid var(--simblue);
    text-transform: capitalize;
  }
  .buttons {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .girl-image {
    height: 290px;
  }

  .circle {
    width: 600px;
    height: 600px;
  }

  .text-buttons {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .content {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
  .input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .check-price-btn {
    padding: 24px 88px;
  }
  .text-content {
    padding-top: 1rem;
    text-align: center;
  }
  .check-price {
    padding: 60px 0px;
  }
  .footer .ship-text-heading {
    width: 50%;
  }
}

@media (min-width: 767px) and (max-width: 1400px) {
  header {
    padding: 0rem 1rem;
  }
  .join {
    background-color: var(--simblue);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .request {
    color: var(--simblue);
    border-radius: 12px;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid var(--simblue);
    text-transform: capitalize;
  }
  .buttons {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .girl-image {
    height: 434px;
  }
  .content {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
  .input-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .check-price-btn {
    padding: 28px 88px;
  }
  .check-price {
    padding: 80px 0px;
  }
}
